{% extends 'index.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
    <h1>Agregar Cotización</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="proforma">Proforma:</label>
            <select class="form-control" id="proforma" name="proforma">
                {% for proforma in lista_proformas %}
                <option value="{{ proforma.id }}" {% if proforma.id == cotizacion.proforma.id %}selected{% endif %}>{{ proforma }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="cliente">Cliente:</label>
            <select class="form-control" id="cliente" name="cliente">
                {% for cliente in lista_clientes %}
                <option value="{{ cliente.id }}" {% if cliente.id == cotizacion.cliente.id %}selected{% endif %}>{{ cliente }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'cotizacion' %}" class="btn btn-secondary">Volver</a>
    </form>
</div>
{% endblock %}
