{% extends 'index.html' %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Productos</h1>
    <p class="mb-4">Listado de productos registrados en nuestro sistema.</p>

    <a href="" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-flag"></i>
        </span>
        <span class="text">Nuevo Producto</span>
    </a>
    <br>
    <br>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lista de Productos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Precio Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td>{{ producto.id }}</td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.precio_unitario }}</td>
                            <td>{{ producto.cantidad }}</td>
                            <td>{{ producto.precio_total }}</td>
                            <td>
                                <!-- Icono para editar -->
                                <a href="" class="btn btn-warning btn-circle">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <!-- Icono para eliminar -->
                                <a href=""
                                    class="btn btn-danger btn-circle eliminar-producto">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        // Función para manejar el clic en el botón de eliminar
        $('.eliminar-producto').click(function (event) {
            event.preventDefault(); // Prevenir el comportamiento predeterminado del enlace

            // Mostrar cuadro de diálogo de confirmación antes de eliminar
            if (confirm('¿Estás seguro de que deseas eliminar este producto?')) {
                // Obtener la URL de eliminación del producto desde el atributo "href" del enlace
                var url = $(this).attr('href');

                // Enviar la solicitud AJAX para eliminar el producto
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',  // Incluir el token CSRF en la solicitud
                    },
                    dataType: 'json',
                    success: function (data) {
                        // Si la eliminación fue exitosa, actualizamos la tabla eliminando la fila
                        $(event.target).closest('tr').remove();
                        alert(data.message); // Mostrar un mensaje de éxito
                    },
                    error: function (error) {
                        console.log(error); // Mostrar cualquier error en la consola
                        alert('Error al eliminar el producto'); // Mostrar un mensaje de error
                    }
                });
            }
        });
    });
</script>
{% endblock %}
